// --------------------------------------------------
// -- Configuration
// --------------------------------------------------
@use "sass:string";
@import "../../../../node_modules/@absolunet/nwayo-toolbox/styles/config";
@import "../../../../node_modules/@absolunet/brand-guidelines/dist/guidelines";

$brand-color: valtech-guidelines("color.primary.blue");
$primary-color: valtech-guidelines("color.primary.blue");
$primary-light-color: valtech-guidelines("color.primary.white");
$primary-medium-color: valtech-guidelines("color.achromatic.gainsboro");
$primary-dark-color: valtech-guidelines("color.primary.black");

$code-background-color: valtech-guidelines("color.primary.black");
$code-outline-color: valtech-guidelines("color.achromatic.davys-gray");
$code-primary-color: valtech-guidelines("color.primary.blue");
$code-token-color: valtech-guidelines("color.primary.white");
$code-name-color: valtech-guidelines("color.secondary.disruptive-rose");
$code-keyword-color: valtech-guidelines("color.secondary.transformative-turquoise");
$code-selector-color: valtech-guidelines("color.secondary.agile-yellow");

$github-color: #539bf5;

$important-color: valtech-guidelines("secondary.disruptive-rose");

$base-font: string.unquote(valtech-guidelines("font.safe"));
$title-font: string.unquote(valtech-guidelines("font.safe"));
$code-font: string.unquote(valtech-guidelines("font.code"));

$base-weight: valtech-guidelines("type.paragraph.weight");
$title-weight: valtech-guidelines("type.title.weight");
$code-weight: valtech-guidelines("type.paragraph.weight");

@mixin inline-image-styles($file, $component:"default", $color:null) {
  background-image: #{nwayo-svg-data-uri(nwayo-color-replace(dart-read-file($file + ".svg", $component), $nwayo-svg-replacement-1-color, $color))};  // stylelint-disable-line max-line-length -- One tasty one-liner.
}
