// --------------------------------------------------
// -- Configuration
// --------------------------------------------------
@use "sass:string";
@import "../../../../node_modules/@absolunet/nwayo-toolbox/styles/config";
@import "../../../../node_modules/@absolunet/brand-guidelines/dist/styleguide";

$brand-color: absolunet-styleguide("color.primary.coral");
$primary-color: absolunet-styleguide("color.secondary.picton-blue");
$primary-light-color: absolunet-styleguide("color.secondary.spindle");
$primary-dark-color: absolunet-styleguide("color.secondary.chambray");
$grey1-color: absolunet-styleguide("color.primary.navy");
$grey2-color: absolunet-styleguide("color.secondary.oxford-blue");
$grey3-color: absolunet-styleguide("color.greyscale.nevada");
$grey4-color: absolunet-styleguide("color.greyscale.regent-grey");
$grey5-color: absolunet-styleguide("color.greyscale.gull-grey");
$grey6-color: absolunet-styleguide("color.greyscale.loblolly");
$grey7-color: absolunet-styleguide("color.greyscale.geyser");
$grey8-color: absolunet-styleguide("color.greyscale.mystic");
$grey9-color: absolunet-styleguide("color.greyscale.aqua-haze");

$code1-color: absolunet-styleguide("color.rainbow.olivine");
$code2-color: absolunet-styleguide("color.secondary.eastern-blue");

$github1-color: #0366d6;
$github2-color: #24292e;

$important-color: absolunet-styleguide("color.rainbow.crimson");

$base-font: string.unquote(absolunet-styleguide("font.content"));
$title-font: string.unquote(absolunet-styleguide("font.title"));
$code-font: string.unquote(absolunet-styleguide("font.code"));

$base-weight: absolunet-styleguide("font-weight.content.base");
$title-weight: absolunet-styleguide("font-weight.title.base");
$code-weight: absolunet-styleguide("font-weight.code.base");

@mixin inline-image-styles($file, $color) {
  background-image: #{nwayo-svg-data-uri(nwayo-color-replace(dart-read-file($file + ".svg"), $nwayo-svg-replacement-1-color, $color))};  // stylelint-disable-line max-line-length -- One tasty one-liner.
}
