/* stylelint-disable */
/* PrismJS 1.16.0 */

code[class*="language-"],
pre[class*="language-"] {
	color: $primary-color;
        background: none;
	font-family: $code-font;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	text-indent: -.3em;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow-x: auto;
	overflow-y: hidden;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $grey1-color;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.token.namespace {
	opacity: .7;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $grey3-color;
	font-style: italic;
}

.token.operator,
.token.boolean,
.token.number,
.token.function {
		color: $brand-color;
}
.token.attr-name,
.token.string,
.token.property,
.token.class-name,
.token.constant,
.token.symbol,
.token.char {
		color: $primary-light-color;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
		color: $primary-light-color;
}
.token.selector,
.token.inserted {
		color: $code1-color;
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted,
.token.builtin {
		color: $code2-color;
}
.token.regex,
.token.statement,
.token.function-name {
		color: $primary-color;
}
.token.placeholder,
.token.variable {
		color: $grey9-color;
}
.token.important,
.token.statement,
.token.bold {
		font-weight: bold;
}
.token.punctuation {
		color: $primary-light-color;
}

.token.entity {
		cursor: help;
}
.token.italic {
		font-style: italic;
}

code.language-markup {
		color: $grey9-color;
}
code.language-markup .token.tag {
		color: $brand-color;
}
code.language-markup .token.attr-name {
		color: $code1-color;
}
code.language-markup .token.attr-value {
		color: $primary-light-color;
}
code.language-markup .token.style,
code.language-markup .token.script {
		color: $primary-color;
}
code.language-markup .token.script .token.keyword {
		color: $primary-color;
}









/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position: relative;
	z-index: 1;
}

.line-highlight {
	border-bottom: 1px dashed $grey5-color;
	border-top: 1px dashed $grey5-color;
	left: 0;
	line-height: inherit;
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index: 0;
}

/*
.line-highlight:before,
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%);
	border-radius: 999px;
	box-shadow: 0 1px white;
	color: hsl(24, 20%, 95%);
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
}

.line-highlight[data-end]:after {
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}
*/

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: rgba($grey5-color, .2);

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

/*
	.line-highlight:before,
	.line-highlight[data-end]:after {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: hsla(24, 20%, 50%,.4);
		color: hsl(24, 20%, 95%);
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px white;
	}

	.line-highlight[data-end]:after {
		content: attr(data-end);
		top: auto;
		bottom: .4em;
	}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
	content: none;
}
*/

pre[class*="language-"].line-numbers {
	position: relative;
	padding-right: 1em;
	padding-left: 4.5em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid $grey3-color;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: $grey3-color;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

