.github
.editorconfig
.eslintignore
.eslintrc.yaml
.gitignore
.prettierignore
.prettierrc.yaml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
manager.js
SECURITY.md
SUPPORT.md
docs
test
!src/**
.DS_Store

ressources/documentation-theme/sources
